#rfs-feal {
	label {
		display: inline-block;
		max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
		margin-bottom: 5px;
		font-weight: bold;
	}
	.form-control {
		display: block;
		width: 100%;
		height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		padding: $padding-base-vertical $padding-base-horizontal;
		font-size: $font-size-base;
		line-height: $line-height-base;
		color: $input-color;
		background-color: $input-bg;
		background-image: none; // Reset unusual Firefox-on-Android default style;
		border: 1px solid $input-border;
		border-radius: $input-border-radius;

		&[disabled],
		&[readonly],
		fieldset[disabled] & {
			background-color: $input-bg-disabled;
			opacity: 1; // iOS fix for unreadable disabled content;
		}

		&[disabled],
		fieldset[disabled] & {
			cursor: $cursor-disabled;
		}
	}
}